

h1 {
  font-size: 36px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}

button:active {
  background-color: #388e3c;
}
.main-content {
  flex: 1;  
}


body {
  font-family: 'Poppins', sans-serif;
  color: black;
  background-color: white;
  background-repeat: repeat-y;
  background-size: cover;
  min-height: 100vh;
  margin: 0;
  padding-top: 60px; /* To make space for fixed navbar */
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  width: 100%;
  margin-top: 100px;
}